body {
    background-color: hsl(0, 0%, 8%);
    margin: 0;
    font-family: Verdana, sans-serif;
    box-sizing: border-box;
}

.a {
    background-color: hsl(0, 0%, 12%);
    text-align: center;
    height: auto;
    width: 90%;
    max-width: 500px;
    border-radius: 20px;
    margin: 100px auto;
    padding: 20px;
}

.img {
    border-radius: 50%;
    height: 140px;
    width: 140px;
    object-fit: cover;
    display: block;
    margin: 20px auto 10px;
}

.button {
    background-color: hsl(0, 0%, 20%);
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.1s;
    color: hsl(0, 0%, 100%);
    display: block;
    margin: 10px auto;
    width: 80%;
    max-width: 300px;
    height: 50px;
    text-align: center;
}

.button:hover {
    background-color: greenyellow;
    transform: scale(1.1);
    color: black;
}

.footer {
    margin-top: 40px;
    color: #0000FF;
    font-size: 14px;
    text-align: center;
}

@media (max-width: 700px) {
    .a {
        margin-top: 100px;
        padding: 10px;
    }

    .img {
        height: 125px;
        width: 125px;
        margin-top: 10px;
    }

    .button {
        font-size: 14px;
        padding: 8px;
        height: auto;
        margin: 10px auto;
    }
}
